/.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
/manuscript
/figures
/analysis
library/
local/
cellar/
lock/
python/
sandbox/
staging/
*.pdf
*.csv
*.png
*.svg
*.xlsx
*.json
*._.DS_Store
*.DS_Store
*.gitignore
/.vscode
scripts/data_processing.R
*.js
*.css
